
<%unless flash[:notice].blank?%>
<%=flash[:notice]%>
<%end%>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Players</div>
<%unless @sports.empty?%>
<table class ="table">
	<tr>
		<td>Name</td>
		<td>Type</td>
	</tr>
	<tbody>
	<%@sports.each do |sport|%>
	<tr>
		<td><%=sport.name%></td>
		<td><%=sport.sport_type%></td>
		<br/>
		<td><%=link_to "Edit", edit_sport_path(sport)%></td>
		<td><%=link_to "Delete", sport_path(sport),method: :Delete%></td>
	</tr>

	<%end%>	
	</tbody>
	
</table>
<%else%>
<b>Still,no records available</b>
<%end%>
</div>

