
<%unless flash[:notice].blank?%>
<%=flash[:notice]%>
<%end%>
<%unless @players.empty?%>
<table>
	<tr>
		<td>First Name</td>
		<td>Last Name</td>
		<td>Age</td>
		<td>sports</td>
	</tr>
	<tbody>
	<%@players.each do |player|%>
	<tr>
		<td><%=player.first_name%></td>
		<td><%=player.last_name%></td>
		<td><%=player.age%></td>
		<td><%=player.sports.map do |m| m.name end%></td>
		<br/>
		<td><%=link_to "Edit", edit_player_path(player)%></td>
		<td><%=link_to "Delete", player_path(player),method: :Delete%></td>
	</tr>

	<%end%>	
	</tbody>
	
</table>
<%else%>
<b>Still,no records available</b>
<%end%>

