<!DOCTYPE html>
<html>
<head>
  <title>Playit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%unless current_user.nil?%>
<%if current_user.admin?%>
<%=render "/layouts/admin_header"%>
<%else%>
<%=render "/layouts/player_header"%>
<%end%>
<%end%>

<%= yield %>

</body>
</html>
